/ganglion/__pycache__
/.vscode
/ganglion/blah*
/ganglion/profiling*
/ganglion/vectorized/__pycache__
/ganglion/vectorized/testgroups.py
/ganglion/examples/MNIST_data
/ganglion/examples/gabor.py
/ganglion/vectorized/MNIST_data