/ganglion/__pycache__
/ganglion/blah*
/ganglion/*.prof
/ganglion/base/__pycache__
/ganglion/base/*.prof
/ganglion/examples/MNIST_data
/ganglion/examples/*.npy
/ganglion/examples/__pycache__
/ganglion/examples/*.prof
/ganglion/datasets/mnist/*.gz
/ganglion/datasets/n-mnist
/ganglion/datasets/poop
/ganglion/datasets/natural
/ganglion/datasets/__pycache__
/ganglion/extra/__pycache__
/ganglion/extra/*.prof
/ganglion/.vscode
/ganglion/.VSCodeCounter
/ganglion/datasets/all